@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@layer{
    .inputBox {
        @apply appearance-none block w-full bg-gray-200 text-gray-700 rounded-lg   py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white
    }
}

body {
    background-color: #fcfcfd;
    margin: 0;
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  